.line {
    width: 100vw;
    height: 40px;
    background-color: rgba(1, 65, 58, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
    &_container {
        width: 1000px;
        a {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 18px;
            padding-left: 20px;
            text-decoration: none;
        }
    }
    
}