body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    width: 100%;
}

.container {
    margin: 0 auto;
    // width: 1200px;
}

.no-scroll {
    overflow: hidden;
}